// Font sizes

$root-font-size-sm:22px;
$root-font-size-lg:18px;

// Break points

$media-breakpoint-down-xs:576px;
$media-breakpoint-up-sm:576px;
$media-breakpoint-up-md:768px;
$media-breakpoint-up-lg:992px;
$media-breakpoint-up-xl:1200px;