@import "../node_modules/bootstrap/scss/bootstrap";
@import './variables';

html * {
    font-size: 1rem;
}

@media(min-width: $media-breakpoint-up-sm) {
    html {
        font-size: $root-font-size-sm;
    }
}

@media(min-width: $media-breakpoint-up-lg) {
    html {
        font-size: $root-font-size-lg;

    }
}